.reply-item {
    background-color: #f0f0f0;;
    margin-left: 50px;
    margin-bottom: 15px;
}

.markdown-content{
    width: 50%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
 .content-image{
     width: 50%;
 }